doctype html
html(lang="en")
  head
    title Configuración
    include head
  body
    include navbar
    div.container.my-5
      h2#tituloLogin.mb-4.mt-4.text-center Configuración de la cuenta
      hr
      div.row
        div.col-lg-2
          div.list-group
            a.list-group-item.list-group-item-action.custom-button(href="/changeuser") Cambiar nombre de usuario
            a.list-group-item.list-group-item-action.custom-button(href="/changemail") Cambiar correo electrónico
            a.list-group-item.list-group-item-action.custom-button.active(href="/changepass") Cambiar contraseña
        div.col-lg-10
          form
            div.mb-3
              label.form-label#tituloLogin1(for="inputPassword") Contraseña actual
              input#inputPassword.form-control(type="password", placeholder="Ingrese su contraseña actual", required)
            div.mb-3
              label.form-label#tituloLogin1(for="inputNewPassword") Nueva contraseña
              input#inputNewPassword.form-control(type="password", placeholder="Ingrese su nueva contraseña", required)
            div.mb-3
              label.form-label#tituloLogin1(for="inputConfirmPassword") Confirmar nueva contraseña
              input#inputConfirmPassword.form-control(type="password", placeholder="Vuelva a ingresar la nueva contraseña", required)
            div.d-grid
              button.btn.btn-primary1(type="submit") Guardar cambios
            div.mt-5.text-center
              button.btn.btn-sm.custom-btn(type="button", onclick="window.location.href='/inbox'") Inicio
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
