doctype html
html(lang="en")
  head
    title Configuraci칩n
    include head
  body
    include navbar
    div.container.my-5
      h2#tituloLogin.mb-4.mt-4.text-center Configuraci칩n de la cuenta
      hr
      .row
        .col-lg-2
          .list-group
            a.list-group-item.list-group-item-action.custom-button.active(href="/changeuser") Cambiar nombre de usuario
            a.list-group-item.list-group-item-action.custom-button(href="/changemail") Cambiar correo electr칩nico
            a.list-group-item.list-group-item-action.custom-button(href="/changepass") Cambiar contrase침a
        .col-lg-10
          form
            div.mb-3
              label.form-label#tituloLogin1(for="inputNewPassword") Nombre y Apellido Actual
              input#inputNewPassword.form-control(type="text", placeholder="Ingrese el nombre y apellido actual", required)
            div.mb-3
              label.form-label#tituloLogin1(for="inputConfirmPassword") Nombre y Apellido Nuevo
              input#inputConfirmPassword.form-control(type="text", placeholder="Ingrese el nombre y apellido nuevo", required)
            div.d-grid
              button.btn.btn-primary1(type="submit") Guardar cambios
            div.mt-5.text-center
              button.btn.btn-sm.custom-btn(type="button", onclick="window.location.href='/inbox'") Inicio
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
