doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Configuración
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css")
    link(rel="stylesheet", href="styles.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css", integrity="sha512-sQ1lgxo6aEtw0q/GE6U86y6U5UP6ScNfz9ziFF+aOncrZrDw0YhO43GYeOyShmCTyPbMXCmBdQ9AYfyh+fdHdA==", crossorigin="anonymous", referrerpolicy="no-referrer")
  body
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top
      .container-fluid
        button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
          span.navbar-toggler-icon
        a.navbar-brand(href="/inbox") ANASHE MAIL MANAGER
        div.collapse.navbar-collapse.justify-content-end#navbarNav
          span.mx-3.text-secondary.dropdown
            span.ms-2 Andrés Briend
            i.material-icons.icon-spacing.ml-2.person-icon
            i.material-icons.align-middle.dropdown-toggle(data-bs-toggle="dropdown") person
            div.dropdown-menu.small-menu
              button#BotonesPerfil.dropdown-item(onclick="window.location.href='/changeuser';") Configuración
              div.dropdown-divider
              button#BotonesPerfil.dropdown-item(onclick="window.location.href='/contacts';") Contactos
              div.dropdown-divider
              button#BotonesPerfil.dropdown-item(onclick="window.location.href='/login';") Cerrar sesión
    div.container.my-5
      h2#tituloLogin.mb-4.mt-4.text-center Configuración de la cuenta
      hr
      div.row
        div.col-lg-2
          div.list-group
            a.list-group-item.list-group-item-action.custom-button(href="/changeuser") Cambiar nombre de usuario
            a.list-group-item.list-group-item-action.custom-button.active(href="/changemail") Cambiar correo electrónico
            a.list-group-item.list-group-item-action.custom-button(href="/changepass") Cambiar contraseña
        div.col-lg-10
          form
            div.mb-3
              label.form-label#tituloLogin1(for="inputNewPassword") Correo Electrónico Actual
              input#inputNewPassword.form-control(type="email", placeholder="Ingrese su correo electrónico actual", required)
            div.mb-3
              label.form-label#tituloLogin1(for="inputConfirmPassword") Correo Electrónico Nuevo
              input#inputConfirmPassword.form-control(type="email", placeholder="Ingrese su correo electrónico nuevo", required)
            div.d-grid
              button.btn.btn-primary1(type="submit") Guardar cambios
            div.mt-5.text-center
              button.btn.btn-sm.custom-btn(type="button", onclick="window.location.href='/inbox'") Inicio
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
