doctype html
html(lang="en")
  head
    title Contactos
    include head
  body
    include navbar
    div#modalRedactar.modal.fade
      div.modal-dialog
        div.modal-content
          div.modal-header
            h5.modal-title Redactar correo
            button.btn-close(data-bs-dismiss="modal", id="CloseModal", aria-label="Close")
          div.modal-body
            form(id="composeForm", action="/enviar-correo", method="post")
                div.mb-3
                  label.form-label(for="recipient", id="desti-asun-men") Destinatario:
                  input.form-control(type="text", id="recipient", name="destinatario", placeholder="Ingrese el destinatario", required)
              div.mb-3
                label.form-label#desti-asun-men(for="subject") Asunto:
                input.form-control(type="text", id="subject", name="asunto", placeholder="Ingrese el asunto", required)
              div.mb-3
                label.form-label#desti-asun-men(for="message") Mensaje:
                textarea.form-control(id="message", name="mensaje", rows="5", placeholder="Ingrese el mensaje", required)
              button.btn.btn-primary1.float-end.btn-animations(type="submit") Enviar
    div.container.mt-5
      h2#tituloLogin.mb-4.mt-4.text-center Contactos
      button.btn.btn-success.mb-3.btn-animations(onclick="window.location.href='/newcontact';") Agregar un nuevo contacto
      each contacto in contactos || []
        .contact
          h4= contacto.nombre
          p= contacto.apellido
          p= contacto.email
          p= contacto.relacion
          div.btn-group.mt-1
            button.btn.btn-primary1.btn-animations(data-bs-toggle="modal", data-bs-target="#modalRedactar") Enviar un correo
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js" type="module")
