doctype html
html(lang="en")
  head
    title Correos Destacados
    include head 
  body
    include navbar
    div.container-fluid.my-5
      div.row
        div.col-12.col-lg-1.mb-4
          h2.mb-3.mt-5
          div.btn-group-vertical
            a.btn.custom-btnRedac.btn-sm.mt-1(href="compose") Redactar
            a.btn.custom-btn.btn-lg.mt-5(href="inbox") Recibidos
            a.btn.custom-btn.btn-lg.mt-1(href="send") Enviados
            a.btn.custom-btn.btn-lg.mt-1(href="all") Todos
            a.btn.custom-btn.btn-lg.mt-1(href="favorites") Favoritos
            a.btn.custom-btn.btn-lg.mt-1(href="trash") Papelera
        div.col-12.col-lg-11.mt-5
          div.card
            div.card-body
              h2#titulos.card-title Correos Destacados
              hr
              div.card-text
                table.table.table-hover
                  thead
                    tr
                      th(scope="col") De
                      th(scope="col") Asunto
                      th(scope="col") Fecha
                  tbody
                    tr(data-toggle="modal", data-target="#correo1-modal")
                      td juancitoperez@hotmail.com
                      td Pagame amigo
                      td 2023-05-04
                      td(style="text-align: right;")
                        button.btn.btn-primary.btn-sm(onclick="window.location.href='/message';", style="margin-right: 10px;") Ver
                        button.btn.btn-primary.btn-sm(data-toggle="modal", data-target="#correo3-modal", style="margin-left: 10px;") Fav
                    tr(data-toggle="modal", data-target="#correo2-modal")
                      td alfonzinricardo@gmail.com
                      td MILEI 2023
                      td 2023-05-03
                      td(style="text-align: right;")
                        button.btn.btn-primary.btn-sm(onclick="window.location.href='/message';", style="margin-right: 10px;") Ver
                        button.btn.btn-primary.btn-sm(data-toggle="modal", data-target="#correo3-modal", style="margin-left: 10px;") Fav
                    tr(data-toggle="modal", data-target="#correo3-modal")
                      td vegetta777@hotmail.com
                      td Te dejaste diamantes en el minuto 10
                      td 2023-05-02
                      td(style="text-align: right;")
                        button.btn.btn-primary.btn-sm(onclick="window.location.href='/message';", style="margin-right: 10px;") Ver
                        button.btn.btn-primary.btn-sm(data-toggle="modal", data-target="#correo3-modal", style="margin-left: 10px;") Fav
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
