html
  head
    title WebMail
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')

  body
    .columns.is-flex-fullheight
      .column.is-2-desktop
        aside.menu
          .menu-list
            a.menu-item.is-active.has-text-centered(href='/') Inicio
      .column.is-desktop
        .column
          h1 Aca iria un buscar correo
        .column
          .buttons-container
            .columns.is-multiline
              .column.is-3
                a.button.is-primary.is-fullwidth-active(href='/RoutesBandejaDeEntrada') Bandeja de entrada
              .column.is-3
                button.button.is-info 
              .column.is-3
                button.button.is-warning 
              .column.is-3
                button.button.is-danger 
              .column.is-3
                button.button.is-primary 
              .column.is-3
                button.button.is-info 
              .column.is-3
                button.button.is-warning 
              .column.is-3
                button.button.is-danger 
        .column
          h1 aca iria la bandeja de correos 