html
  head
    title WebMail
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css')

  body
    .container
      .columns
        .column.is-2
          aside.menu
            .menu-list
              a.menu-item.is-active(href='/') Inbox
              a.menu-item(href='/BandejaDeEntrada') Bandeja de entrada
  body
