nav.navbar.navbar-expand-lg.navbar-light.fixed-top
  .container-fluid
    button.navbar-toggler(type="button", data-bs-toggle="collapse", data-bs-target="#navbarNav", aria-controls="navbarNav", aria-expanded="false", aria-label="Toggle navigation")
      span.navbar-toggler-icon
    a.navbar-brand(href="/inbox") ANASHE MAIL MANAGER
    div.collapse.navbar-collapse.justify-content-end#navbarNav
      span.mx-3.text-secondary.dropdown
        span.ms-5 Hello!
        a.material-icons.icon-spacing.ml-2.person-icon
        a.material-icons.align-middle.dropdown-toggle.person-icon(data-bs-toggle="dropdown") person
        div.dropdown-menu.small
          button#BotonesPerfil.dropdown-item(onclick="window.location.href='/changeuser';") Configuración
          div.dropdown-divider
          button#BotonesPerfil.dropdown-item(onclick="window.location.href='/contacts';") Contactos
          div.dropdown-divider
          button#BotonesPerfil.dropdown-item(onclick="window.location.href='/login';") Cerrar sesión