doctype html
html(lang="en")
  head
    title Nuevo Contacto
    include head
  body
    include navbar
    div.container-fluid.my-5
      div.row.justify-content-center
        div.col-12.col-md-8.col-lg-6
          form(action="/newcontact", method="POST")
            h2#tituloLogin.mb-4.mt-4.text-center Nuevo contacto
            div.form-group
              div.form-group
                label#tituloLogin1(for="name") Nombre 
                input.form-control#email(type="name", placeholder="Ingrese su nombre", name="name", required)
              div.form-group
                label#tituloLogin1(for="apellido") Apellido 
                input.form-control#email(type="apellido", placeholder="Ingrese su apellido", name="apellido", required)
              div.form-group
              label(for="email", id="tituloLogin1") Correo Electr칩nico
              input.form-control#email(type="email", placeholder="Ingrese su correo electr칩nico", name="email", required)
            div.form-group
              label(for="password", id="tituloLogin1") Relacion 
              input.form-control#password(type="relacion", placeholder="Ingrese su contrase침a", name="relacion", required)
            div(style="text-align: center;")
              button.btn.custom-btn2.btn-lg.mt-4.btn-animations(type="submit") A침adir
        div.mt-5.text-center
          button.btn.btn-sm.custom-btn.btn-animations(onclick="window.location.href='/contacts'") Volver
          button.btn.btn-sm.custom-btn.btn-animations(onclick="window.location.href='/inbox'") Inicio
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
