doctype html
html(lang="en")
  head
    title Nuevo Contacto
    include head
  body
    include navbar
    div.container.mt-5
      h2#tituloLogin.mb-4.mt-4.text-center Nuevo contacto
      form
        div.mb-3
          label.form-label(for="inputNewPassword", class="form-title") Nombre y Apellido
          input#inputNewPassword.form-control(type="text", placeholder="Ingrese el nombre y apellido", required)
        div.mb-3
          label.form-label(for="inputConfirmPassword", class="form-title") Correo electrónico
          input#inputConfirmPassword.form-control(type="email", placeholder="Ingrese el correo electrónico", required)
        div.d-grid
          button.btn.btn-primary1(type="submit") Guardar contacto
        div.mt-5.text-center
          button.btn.btn-sm.custom-btn(onclick="window.location.href='/contacts'") Volver
          button.btn.btn-sm.custom-btn(onclick="window.location.href='/inbox'") Inicio
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js")
