doctype html
html(lang="en")
  head
    title Registro
    include head
  body
    nav.navbar.navbar-expand-lg.navbar-light.fixed-top
      div.container-fluid
        a.navbar-brand ANASHE MAIL MANAGER
    div.container-fluid.my-5
      div.row.justify-content-center
        div.col-12.col-md-8.col-lg-6
          form(action="/register", method="POST")
            h2#tituloLogin.mb-4.mt-4.text-center Registro
            div.form-group
              label(for="name", id="tituloLogin1") Nombre y Apellido
              input#name.form-control(type="text", placeholder="Ingrese su nombre y apellido", required)
            div.form-group
              label(for="email", id="tituloLogin1") Correo Electrónico
              input#email.form-control(type="email", placeholder="Ingrese su correo electrónico", required)
            div.form-group
              label(for="password", id="tituloLogin1") Contraseña
              input#password.form-control(type="password", placeholder="Ingrese su contraseña", required)
            div.form-group
              label(for="confirmPassword", id="tituloLogin1") Confirmar Contraseña
              input#confirmPassword.form-control(type="password", placeholder="Confirme su contraseña", required)
            div(style="text-align: center;")
              button.btn.custom-btn2.btn-lg.mt-4.btn-animations(type="submit") Registrarse
              div(style="margin-top: 50px;")
                a#enlace-login(href="/login") ¿Ya tienes una cuenta? Inicia sesión aquí
    script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js", integrity="sha512-QyJCEpWCr3xqEjKk9lfVZ0KdW4+qzs4JzCZHw10HY02kFjKxN2+sc5X5bZtvUG/z8WgswfKvFmpaGy1JQg+Bg==", crossorigin="anonymous", referrerpolicy="no-referrer")
