<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Correos Enviados</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-sQ1lgxo6aEtw0q/GE6U86y6U5UP6ScNfz9ziFF+aOncrZrDw0YhO43GYeOyShmCTyPbMXCmBdQ9AYfyh+fdHdA==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
      <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">ANASHE MAIL MANAGER</a>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <form class="d-flex mx-auto my-2 my-lg-0">
            <input class="form-control1" type="text" placeholder="Buscar un correo" style="width: 400px; height: 30px;">
            <button class="btn btn-outline-secondary" id="BotonBuscar" type="submit">Buscar</button>
          </form>
          <span class="mx-3 text-secondary dropdown">
            <i class="fas fa-user align-middle dropdown-toggle" data-bs-toggle="dropdown"></i>
            <span class="ms-2">Andrés Briend</span>
              <div class="dropdown-menu small-menu">
              <button class="dropdown-item" id="BotonesPerfil" onclick="window.location.href='/changeuser';">Configuración</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" id="BotonesPerfil" onclick="window.location.href='/contacts';">Contactos</button>
              <div class="dropdown-divider"></div>
              <button class="dropdown-item" id="BotonesPerfil" onclick="window.location.href='/login';">Cerrar sección</button>
            </div>
          </span>
        </div>
      </div>
    </nav>
    <div class="container-fluid my-5">
      <div class="row">
        <div class="col-12 col-lg-1 mb-4">
          <h2 class="mb-3 mt-5"></h2>
          <div class="btn-group-vertical">
            <a href="compose" class="btn custom-btnRedac btn-sm mt-1">Redactar</a>
            <a href="inbox" class="btn custom-btn btn-lg mt-5">Recibidos</a>
            <a href="send" class="btn custom-btn btn-lg mt-1">Enviados</a>
            <a href="all" class="btn custom-btn btn-lg mt-1">Todos</a>
            <a href="favorites" class="btn custom-btn btn-lg mt-1">Favoritos</a>
            <a href="trash" class="btn custom-btn btn-lg mt-1">Papelera</a>
          </div>
        </div>

        <div class="col-12 col-lg-11 mt-5">
          <div class="card">
            <div class="card-body">
              <h2 id="titulos" class="card-title">Correos Enviados</h2>
              <hr>
              <div class="card-text">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th scope="col">De</th>
                      <th scope="col">Asunto</th>
                      <th scope="col">Fecha</th>
                    </tr>
                  </thead>
                  <tbody>
                    each correo in correos
                      tr(data-toggle="modal" data-target="#correo-modal")
                        td!= correo.destinatario
                        td!= correo.asunto
                        td!= correo.mensaje
                        td(style="text-align: right;")
                          button(type="button" class="btn btn-primary btn-sm" onclick="window.location.href=&#39;/message&#39;;" style="margin-right: 10px;") Ver
                          button(type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#correo-modal" style="margin-left: 10px;") Fav
                    endeach
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.1/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
