.inbox-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .inbox-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin: 0 0 1em;
    padding: 1em;
    width: 80%;
  }
  
  .inbox-item__from {
    margin: 0 0 0.5em;
  }
  
  .inbox-item__subject {
    margin: 0 0 0.5em;
  }
  
  .inbox-item__body {
    margin: 0;
  }